<div class="folder">
    <img class="folder__image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/1024px-OneDrive_Folder_Icon.svg.png">
    <p class="folder__name">Gallery</p>
</div>
<div class="folder">
    <img class="folder__image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/1024px-OneDrive_Folder_Icon.svg.png">
    <p class="folder__name">Team</p>
</div>
<div class="folder">
    <img class="folder__image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/OneDrive_Folder_Icon.svg/1024px-OneDrive_Folder_Icon.svg.png">
    <p class="folder__name">Alumni</p>
</div>
<div class="folder">
    <img class="folder__image" src="https://cdn.icon-icons.com/icons2/2148/PNG/512/terminal_icon_131942.png">
    <p class="folder__name">CyCL</p>
</div>